.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.idea/
.vscode/
*.iml

android/.gradle
android/local.properties
android/**/GeneratedPluginRegistrant.java

ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Pods/
